$purple: #433a8b;
$background: #f6f6f6;
$light-purple: #7166ff;
$placeholder: #6d7883;
$white: #fff;
$pink: #fe6091;
$gray: #999;
$red: #fe0000;
$green: #29d129;
$black: #000;
$yellow: #f2a63a;
$bgcTr: #f0f0f0;
$dark-mode-blue-high: #17212b;
$dark-mode-blue-medium: #242f3d;
$dark-mode-background: #0e1621;

$font-XL: 50;
$font-logo: 36;
$font-L: 28;
$font-M: 19;
$font-S: 14;

$extra-bold: 900;
$bold: 700;
$medium: 600;
$regular: 500;

$img: '../src/views/img/';
