$purple: #433a8b;
$white: #fff;
$pink: #fe6091;
$gray: #999;
$red: #fe0000;
$green: #29d129;
$black: #000;

$background: #f6f6f6;

$font-XL: 50;
$font-logo: 36;
$font-L: 28;
$font-M: 19;
$font-S: 14;

$extra-bold: 900;
$bold: 700;
$medium: 600;
$regular: 500;

$img: '../src/views/img/';
