@import "../common/mixins";
@import "../common/placeholders";
@import "../common/variables";
@import "../common/functions";
@import "../common/config";

.choose-category {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &__up-content {
    @extend %flex-between;

    flex-direction: column;
    width: 100%;

    @include media(tablet) {
      flex-direction: row;
    }
  }

  &__category {
    position: relative;
    overflow: hidden;
  }

  &__arrows {
    @extend %flex-between;

    width: 100px;
    margin: 20px auto;

    @include media(tablet) {
      margin: 0;
    }
  }

  &__arrow {
    @extend %flex-center;

    @include size(40px);

    cursor: pointer;
    transition: 0.3s;
    border: 3px solid $gray;
    color: $gray;
    font-size: 19px;

    &:hover {
      border: 3px solid $purple;
      background-color: $purple;
      color: $white;
    }

    &_inactive {
      opacity: 0.3;

      &:hover {
        border: 3px solid $gray;
        color: $gray;
        cursor: auto;
        background: transparent;
      }
    }
  }

  &__box {
    &:hover {
      opacity: 0.7;
    }
  }
}

@for $i from 1 through 4 {
  .img-category-#{$i} {
    background-image: url("#{$img}category/#{$i}.jpg");
  };
}
