@import "../common/mixins";
@import "../common/placeholders";
@import "../common/variables";
@import "../common/functions";
@import "../common/config";

.clients {
  width: 100%;

  @include media(large-desktop) {
    background-image: url('#{$img}circles.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__slider-and-info {
    @extend %flex-between;

    width: 100%;
    align-items: center;
  }

  &__slider {
    position: relative;
    overflow: hidden;
  }

  &__arrow {
    @extend %flex-center;

    @include size(40px);

    transition: 0.3s;
    cursor: pointer;
    font-size: #{$font-M}px;
    border-radius: 50%;
    background-color: $purple;
    z-index: 1;

    &:hover {
      background-color: $pink;
    }

    &_inactive {
      opacity: 0.6;
      cursor: auto;

      &:hover {
        background-color: $purple;
      }
    }
  }

  &__photo {
    @include size(150px);

    cursor: pointer;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.6s;
  }

  &__name {
    @extend %flex-center;

    font-weight: $bold;
    font-size: calcFluidFontSize($font-M, $font-L, 320, 1920);
    margin: 30px 0;
  }

  &__info {
    margin-bottom: 100px;
    width: 100%;
  }

  &__review {
    @include color-and-weight($gray, $regular);
    @include size(100%, 10px);

    text-align: center;
    max-width: 400px;
    width: 100%;
    font-size: calcFluidFontSize($font-S, $font-S, 320, 1920);
    margin: 0 auto;
  }
}

@for $i from 1 through 5 {
  .img-clients-#{$i} {
    background-image: url("#{$img}clients/#{$i}.jpeg");
  }
}
