@import "../common/mixins";
@import "../common/placeholders";
@import "../common/functions";
@import "../common/config";
@import "../common/variables";

.footer {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;

  @include media(large-desktop) {
    background-image: url('#{$img}footer-back.png');
  }

  &__content {
    @extend %flex-between;

    flex-direction: column;

    @include media(desktop) {
      flex-direction: row;
    }
  }

  &__left {
    width: 100%;
    margin-bottom: 40px;

    @include media(desktop) {
      width: 40%;
    }
  }

  &__logo {
    @extend %flex;

    @include color-and-weight($purple, $extra-bold);

    justify-content: center;
    cursor: pointer;
    font-size: calcFluidFontSize($font-logo, $font-logo, 320, 1920);
    text-transform: uppercase;

    @include media(wide-mobile) {
      justify-content: flex-start;
    }
  }

  &__icons {
    @include color-and-weight($purple, $regular);

    text-align: center;
    font-size: calcFluidFontSize($font-M, $font-M, 320, 1920);

    @include media(wide-mobile) {
      text-align: start;
    }
  }

  &__icon {
    margin-right: 10px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      @include color-and-weight($pink, $regular);
    }
  }

  &__right {
    @extend %flex-between;

    flex-direction: column;
    width: 100%;

    @include media(small-tablet) {
      flex-direction: row;
    }

    @include media(desktop) {
      width: 50%;
    }
  }

  &__column {
    text-align: center;

    @include media(wide-mobile) {
      text-align: start;
    }
  }

  &__title {
    font-weight: $medium;
    margin-bottom: 10px;
    font-size: calcFluidFontSize($font-M, $font-M, 320, 1920);
  }

  &__items {
    @include color-and-weight($gray, $regular);

    font-size: calcFluidFontSize($font-S, $font-S, 320, 1920);
  }

  &__item {
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      @include color-and-weight($purple, $regular);
    }
  }

  &__made {
    @extend %flex-center;

    @include size(100%, 95px);

    font-weight: $bold;
    font-size: calcFluidFontSize(14, $font-M, 320, 1920);
    text-align: center;
    border-top: 1px solid #e3e3e3;
  }
}
