@import "../common/mixins";
@import "../common/placeholders";
@import "../common/functions";
@import "../common/config";
@import "../common/variables";

.form {
  width: 100%;
  transition: 0.2s;

  input,
  textarea,
  select {
    font-weight: $regular;
    font-size: calcFluidFontSize($font-S, $font-S, 320, 1920);
    border-bottom: 1px solid $gray;
    background-color: $background;
    outline: 0;
    width: 100%;
    resize: none;
    margin: 0;
    padding: 10px 0;
  }

  label {
    font-weight: $bold;
    font-size: calcFluidFontSize($font-M, $font-M, 320, 1920);
    margin: 20px 0 10px 0;
    text-align: start;
  }

  .error {
    font-weight: $medium;
    text-align: start;
    font-size: #{$font-S}px;
    display: block;
    color: red;
  }

  &__item {
    @extend %flex;

    flex-direction: column;
    width: 100%;

    .error {
      display: none;
    }

    &_err {
      .error {
        font-weight: $medium;
        text-align: start;
        font-size: #{$font-S}px;
        display: block;
        color: red;
      }

      input {
        transition: 0.4s;
        color: $red;
        margin: 10px 0;
        border-color: $red;
      }
    }
  }

  .button {
    @extend %flex-center;

    @include color-and-weight($white,$medium);
    @include size(200px, 50px);

    margin: 20px 0;
    font-size: calcFluidFontSize($font-M, $font-M, 320, 1920);
    border: none;
    background-color: $purple;
    opacity: 1;
    transition: 0.3s;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;

    &:hover {
      background-color: $pink;
    }

    &_no-active {
      opacity: 0.5;
      cursor: auto;

      &:hover {
        background-color: $purple;
      }
    }
  }

  &_dark-theme {
    background: $dark-mode-blue-high;
    border-radius: 5px;
    padding: 10px 30px;
    //box-shadow: 0 3px 15px 15px rgba(67, 58, 139, 0.2);
    color: $white;
    //border: 1px solid $dark-mode-blue-medium;

    select {
      padding-left: 14px;
      background-color: $dark-mode-blue-medium;
      color: $white;
      border-radius: 3px;
      border: none;
    }

    ::placeholder {
      color: $placeholder;
    }

    input,
    textarea {
      padding-left: 14px;
      background-color: $dark-mode-blue-medium;
      color: $white;
      border-bottom: none;
      border-radius: 3px;
    }
  }
}
