@import "../common/mixins";
@import "../common/placeholders";
@import "../common/variables";
@import "../common/functions";
@import "../common/config";


header {
  @extend %flex-between;

  @include color-and-weight($gray, $medium);

  font-size: calcFluidFontSize(14, $font-M, 320, 1920);
  margin-top: 60px;
  align-items: center;

  @include media(tablet) {
    flex-wrap: nowrap;
  }
  @include media(large-desktop) {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.logo {
  @include color-and-weight($purple, $extra-bold);

  cursor: pointer;
  font-size: calcFluidFontSize($font-logo, $font-logo, 320, 1920);
  text-transform: uppercase;
  z-index: 1;

  @include media(mobile) {
    justify-content: flex-start;
  }
}

.navbar-desktop {
  margin: 20px 0;
  z-index: 7;
  width: 100%;
  display: none;

  a {
    &.router-link-exact-active {
      transition: .5s;
      color: $pink;
    }
  }

  @include media(desktop) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__left {
    @extend %flex-between;
    width: 60%;
  }

  &__right {
    @extend %flex;
    justify-content: space-between;
    width: 30%;

    &__item {
      @include media(large-desktop) {
        margin-left: 20px;
      }
    }
  }

  &__item {
    cursor: pointer;
    transition: .3s;

    &::after {
      @include size(20px, 3px);

      content: '';
      display: block;
      border-radius: 50px;
      transition: .5s;
      background-color: $purple;
    }

    &:hover::after {
      transition: .5s;
      width: 100%;
    }
  }
}

.main-info {
  margin-top: 50px;

  @include media(tablet) {
    margin-top: 200px;
  }
  @include media(large-desktop) {
    margin-top: 360px;
  }

  &__title {
    @include color-and-weight($black, $extra-bold);

    font-size: calcFluidFontSize(25, $font-XL, 320, 1920);
  }

  &__subtitle {
    @include color-and-weight($gray, bold);
    font-size: calcFluidFontSize(15, $font-L, 320, 1920);
  }
}

.search {
  margin: 50px 0;
  width: 100%;
  max-width: 650px;

  @include media(small-tablet) {
    display: flex;
  }
  @include media(tablet) {
    margin: 150px 0;
  }

  &__input {
    @extend %flex-center;

    @include size(100%,70px);
    @include color-and-weight($black, $regular);

    font-size: calcFluidFontSize(14, $font-M, 320, 1920);
    background-color: $white;
    transition: .3s;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  &__button {
    @extend %flex-center;

    @include color-and-weight($white, $medium);
    @include size(200px, 70px);

    cursor: pointer;
    transition: .3s;
    font-size: calcFluidFontSize(14, $font-M, 320, 1920);
    margin: 0 auto;
    background-color: $purple;
    color: $white;

    &:hover {
      transition: .3s;
      background-color: $pink;
    }
  }
}
.burger-bnt {
  display: flex;
  justify-content: center;
  align-items: center;

  @include size(37px);

  cursor: pointer;
  z-index: 7;

  @include media(desktop) {
    display: none;
  }

  &__bars {
    width: 37px;
    height: 5px;
    position: absolute;
    background-color: $gray;
    cursor: pointer;
    border-radius: 5px;

    &::before {
      display: block;
      position: absolute;
      content: '';
      width: 37px;
      height: 5px;
      background-color: $gray;
      top: 10px;
      border-radius: 5px;
    }

    &::after {
      display: block;
      position: absolute;
      content: '';
      width: 37px;
      height: 5px;
      background-color: $gray;
      top: -10px;
      border-radius: 5px;
    }
  }

  &__cross {
    @extend %flex-center;
    background-color: $white;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
    z-index: 7;

    &::before {
      position: absolute;
      content: '';
      width: 40px;
      height: 5px;
      background-color: $white;
      transform: rotate(-45deg);
      border-radius: 5px;
    }

    &::after {
      position: absolute;
      content: '';
      width: 40px;
      height: 5px;
      background-color: $white;
      transform: rotate(45deg);
      border-radius: 5px;
    }
  }
}
.navbar-mobile {
  @include size(100%);
  position: fixed;
  background-color: $purple;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;

  a {
    &.router-link-exact-active {
      transition: .2s;
      color: $pink;
    }
  }

  @include media(desktop) {
    display: none;
  }
}

.navbar-burger {
  margin-top: 100px;
  width: 100%;

  &__item {
    @extend %flex-center;

    @include color-and-weight($white, $medium);

    width: 100%;
    border-bottom: 2px solid $white;
    font-size: calcFluidFontSize($font-L, $font-L, 320, 1920);
    padding: 20px;
    transition: .3s;
    &:hover {
      background-color: $pink;
      border-bottom: 2px solid $pink;
    }
  }
}