@import "../common/mixins";
@import "../common/placeholders";
@import "../common/variables";
@import "../common/functions";
@import "../common/config";

.table-tours {
  overflow-x: scroll;

  button {
    cursor: pointer;
    outline: 0;
  }

  @include media(tablet) {
    overflow-x: hidden;
  }

  &__search-item {
    @include color-and-weight($black,$bold);

    padding: 5px 15px;
    margin: 10px 0;
    background-color: $white;
    border-radius: 50px;
    border: none;
  }

  &__tour {
    @include color-and-weight($black,$bold);

    padding: 10px 25px;
    background-color: $white;
    border-radius: 50px;
    margin: 5px;
    transition: 0.4s;

    &:hover {
      @include color-and-weight($white,$bold);

      background-color: $purple;
    }
  }
}

table {
  margin-bottom: 50px;
  background: white;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
}

.tours {
  input {
    @include color-and-weight($black,$regular);

    font-size: calcFluidFontSize($font-S, $font-S, 320, 1920);
    border-bottom: 1px solid $gray;
    background-color: $background;
    outline: 0;
    width: 100%;
    resize: none;
    margin: 0;
    padding: 10px 0;
  }
}

th {
  @include color-and-weight($black, $bold);

  font-size: calcFluidFontSize($font-M, $font-M, 320, 1920);
  padding: 10px;
  text-align: start;
  border-bottom: 3px solid $purple;
}

td {
  @include color-and-weight($gray, $regular);

  font-size: calcFluidFontSize($font-S, $font-S, 320, 1920);
  padding: 10px;
  transition: 0.3s linear;
  border-bottom: 1px solid #ccc;
}

th:nth-last-child(1),
td:nth-last-child(1) {
  text-align: center;
}

th:nth-last-child(2),
td:nth-last-child(2) {
  text-align: center;
}

.btn-delete,
.btn-edit {
  font-size: calcFluidFontSize($font-M, $font-M, 320, 1920);
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    color: $purple;
  }
}

hr {
  width: 100%;
}

.button-load-tours {
  @extend %flex-center;

  @include color-and-weight($white, $bold);

  font-size: calcFluidFontSize($font-M, $font-M, 320, 1920);
  background-color: $purple;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px auto;
  transition: 0.2s;
  outline: 0;

  &:hover {
    background-color: $pink;
  }
}
