.confirm-form__buttons, .form__item, .footer__logo, .box, .footer__right, .footer__content, .email, .clients__slider-and-info, .choose-category__arrows, .choose-category__up-content, .boxes, .info-and-img, .navbar-desktop__right, .navbar-desktop__left, .header, .info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .footer__made, .email__button, .feedback__color-back, .clients__name, .clients__arrow, .video-block__second-circle, .video-block__circle, .video-block__blackout, .choose-category__arrow, .box__category, .search__button, .search__input, .navbar-mobile__item, .burger-btn {
  display: flex;
}

.info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .footer__made, .email__button, .feedback__color-back, .clients__name, .clients__arrow, .video-block__second-circle, .video-block__circle, .video-block__blackout, .choose-category__arrow, .box__category, .search__button, .search__input, .navbar-mobile__item, .burger-btn {
  justify-content: center;
  align-items: center;
}

.footer__right, .footer__content, .email, .clients__slider-and-info, .choose-category__arrows, .choose-category__up-content, .boxes, .info-and-img, .navbar-desktop__right, .navbar-desktop__left, .header {
  justify-content: space-between;
}

.confirm-form__buttons, .form__item, .footer__logo, .box, .info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .footer__made, .email__button, .feedback__color-back, .clients__name, .clients__arrow, .video-block__second-circle, .video-block__circle, .video-block__blackout, .choose-category__arrow, .box__category, .search__button, .search__input, .navbar-mobile__item, .burger-btn, .footer__right, .footer__content, .email, .clients__slider-and-info, .choose-category__arrows, .choose-category__up-content, .boxes, .info-and-img, .navbar-desktop__right, .navbar-desktop__left, .header {
  display: flex;
}

.info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .footer__made, .email__button, .feedback__color-back, .clients__name, .clients__arrow, .video-block__second-circle, .video-block__circle, .video-block__blackout, .choose-category__arrow, .box__category, .search__button, .search__input, .navbar-mobile__item, .burger-btn {
  justify-content: center;
  align-items: center;
}

.footer__right, .footer__content, .email, .clients__slider-and-info, .choose-category__arrows, .choose-category__up-content, .boxes, .info-and-img, .navbar-desktop__right, .navbar-desktop__left, .header {
  justify-content: space-between;
}

.header {
  font-weight: 600;
  color: #999;
  font-size: calc( 0.003125 * 100vw + 13px );
  margin-top: 15px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1220px) {
  .header {
    flex-direction: row;
    margin-top: 60px;
  }
}

.logo {
  font-weight: 900;
  color: #433a8b;
  cursor: pointer;
  font-size: calc( 0 * 100vw + 36px );
  text-transform: uppercase;
  z-index: 1;
}
@media screen and (min-width: 375px) {
  .logo {
    justify-content: flex-start;
  }
}

.navbar-desktop {
  margin: 20px 0;
  z-index: 7;
  width: 100%;
  display: none;
}
.navbar-desktop a.router-link-exact-active {
  transition: 0.5s;
  color: #fe6091;
}
@media screen and (min-width: 1024px) {
  .navbar-desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
.navbar-desktop__right {
  min-width: 150px;
}
.navbar-desktop__item {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 40px;
}
.navbar-desktop__item::after {
  height: 3px;
  width: 20px;
  content: "";
  display: block;
  border-radius: 50px;
  transition: 0.5s;
  background-color: #433a8b;
}
.navbar-desktop__item:hover::after {
  transition: 0.5s;
  width: 100%;
}

.burger-btn {
  height: 37px;
  width: 37px;
  cursor: pointer;
  z-index: 7;
}
@media screen and (min-width: 1024px) {
  .burger-btn {
    opacity: 0;
  }
}
.burger-btn__bars {
  height: 5px;
  width: 37px;
  position: absolute;
  background-color: #999;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.4s;
}
.burger-btn__bars::before {
  height: 5px;
  width: 37px;
  display: block;
  position: absolute;
  content: "";
  background-color: #999;
  top: 10px;
  border-radius: 5px;
  transition: 0.4s;
}
.burger-btn__bars::after {
  height: 5px;
  width: 37px;
  display: block;
  position: absolute;
  content: "";
  background-color: #999;
  top: -10px;
  border-radius: 5px;
  transition: 0.4s;
}
.burger-btn__bars_active {
  background-color: transparent;
}
.burger-btn__bars_active::before {
  transform: rotate(-45deg);
  top: 0;
  background-color: #fff;
}
.burger-btn__bars_active::after {
  transform: rotate(45deg);
  top: 0;
  background-color: #fff;
}

.navbar-mobile-bgc {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #433a8b;
  top: 0;
  left: 0;
  z-index: 6;
  overflow: hidden;
}
.navbar-mobile-bgc a.router-link-exact-active {
  transition: 0.2s;
  color: #000;
}
@media screen and (min-width: 1024px) {
  .navbar-mobile-bgc {
    display: none;
  }
}

.navbar-mobile {
  margin-top: 70px;
  width: 100%;
  overflow-y: hidden;
}
.navbar-mobile__item {
  font-weight: 600;
  color: #fff;
  width: 100%;
  border-bottom: 2px solid #fff;
  font-size: calc( 0.005625 * 100vw + 17.2px );
  padding: 20px;
  transition: 0.3s;
  cursor: pointer;
}
.navbar-mobile__item:hover {
  background-color: #fe6091;
  border-bottom: 2px solid #fe6091;
}
.navbar-mobile__item_dark-mode {
  color: #f2a63a;
}

.info-and-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-info {
  margin-top: 50px;
  width: 600px;
}
@media screen and (min-width: 1024px) {
  .main-info {
    margin-top: 120px;
  }
}
@media screen and (min-width: 1220px) {
  .main-info {
    margin-top: 200px;
  }
}
.main-info__title {
  font-weight: 900;
  font-size: calc( 0.015625 * 100vw + 20px );
}
.main-info__subtitle {
  font-weight: bold;
  color: #999;
  font-size: calc( 0.008125 * 100vw + 12.4px );
}

.search {
  width: 100%;
  max-width: 650px;
  margin-top: 100px;
}
@media screen and (min-width: 600px) {
  .search {
    display: flex;
  }
}
.search__input {
  height: 70px;
  width: 100%;
  font-weight: 500;
  color: #000;
  font-size: calc( 0.003125 * 100vw + 13px );
  background-color: #fff;
  transition: 0.3s;
  padding-left: 20px;
  margin-bottom: 20px;
}
.search__button {
  font-weight: 600;
  color: #fff;
  height: 70px;
  width: 200px;
  cursor: pointer;
  transition: 0.3s;
  font-size: calc( 0.003125 * 100vw + 13px );
  margin: 0 auto;
  background-color: #433a8b;
  color: #fff;
}
.search__button:hover {
  transition: 0.3s;
  background-color: #fe6091;
}

.confirm-form__buttons, .form__item, .footer__logo, .box, .info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .footer__made, .email__button, .feedback__color-back, .clients__name, .clients__arrow, .video-block__second-circle, .video-block__circle, .video-block__blackout, .choose-category__arrow, .box__category, .footer__right, .footer__content, .email, .clients__slider-and-info, .choose-category__arrows, .choose-category__up-content, .boxes, .header, .navbar-desktop__left, .navbar-desktop__right, .burger-btn, .navbar-mobile__item, .info-and-img, .search__input, .search__button {
  display: flex;
}

.info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .footer__made, .email__button, .feedback__color-back, .clients__name, .clients__arrow, .video-block__second-circle, .video-block__circle, .video-block__blackout, .choose-category__arrow, .box__category, .burger-btn, .navbar-mobile__item, .search__input, .search__button {
  justify-content: center;
  align-items: center;
}

.footer__right, .footer__content, .email, .clients__slider-and-info, .choose-category__arrows, .choose-category__up-content, .boxes, .header, .navbar-desktop__left, .navbar-desktop__right, .info-and-img {
  justify-content: space-between;
}

.experience {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 50px;
}

.boxes {
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 375px) {
  .boxes {
    flex-direction: row;
  }
}
.boxes__column {
  margin-bottom: 40px;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 375px) {
  .boxes__column {
    width: 100%;
  }
}
@media screen and (min-width: 600px) {
  .boxes__column {
    width: 270px;
  }
}
@media screen and (min-width: 768px) {
  .boxes__column {
    width: 170px;
  }
}
@media screen and (min-width: 1024px) {
  .boxes__column {
    width: 180px;
  }
}
@media screen and (min-width: 1220px) {
  .boxes__column {
    width: 270px;
  }
}

.box {
  height: 400px;
  width: 100%;
  transition: 0.3s;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0 solid #433a8b;
}
@media screen and (min-width: 768px) {
  .box {
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px;
  }
}
@media screen and (min-width: 1220px) {
  .box {
    height: 400px;
  }
}
.box__subtitle {
  font-weight: 500;
  color: #999;
  width: 100%;
  font-size: calc( 0 * 100vw + 14px );
}
.box__title {
  font-weight: 700;
  margin: 30px 0;
  font-size: calc( 0.0025 * 100vw + 14.2px );
}
.box__category {
  font-weight: 500;
  color: #fff;
  height: 30px;
  width: 120px;
  font-size: calc( 0.0025 * 100vw + 14.2px );
  background-color: #433a8b;
}

.img-experience-1 {
  background-image: url("../src/views/img/experience/1.jpg");
}

.img-experience-2 {
  background-image: url("../src/views/img/experience/2.jpg");
}

.img-experience-3 {
  background-image: url("../src/views/img/experience/3.jpg");
}

.img-experience-4 {
  background-image: url("../src/views/img/experience/4.jpg");
}

.confirm-form__buttons, .form__item, .footer__logo, .info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .footer__made, .email__button, .feedback__color-back, .clients__name, .clients__arrow, .video-block__second-circle, .video-block__circle, .video-block__blackout, .choose-category__arrow, .footer__right, .footer__content, .email, .clients__slider-and-info, .choose-category__arrows, .choose-category__up-content, .header, .navbar-desktop__left, .navbar-desktop__right, .burger-btn, .navbar-mobile__item, .info-and-img, .search__input, .search__button, .boxes, .box, .box__category {
  display: flex;
}

.info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .footer__made, .email__button, .feedback__color-back, .clients__name, .clients__arrow, .video-block__second-circle, .video-block__circle, .video-block__blackout, .choose-category__arrow, .burger-btn, .navbar-mobile__item, .search__input, .search__button, .box__category {
  justify-content: center;
  align-items: center;
}

.footer__right, .footer__content, .email, .clients__slider-and-info, .choose-category__arrows, .choose-category__up-content, .header, .navbar-desktop__left, .navbar-desktop__right, .info-and-img, .boxes {
  justify-content: space-between;
}

.choose-category {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.choose-category__up-content {
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .choose-category__up-content {
    flex-direction: row;
  }
}
.choose-category__category {
  position: relative;
  overflow: hidden;
}
.choose-category__arrows {
  width: 100px;
  margin: 20px auto;
}
@media screen and (min-width: 768px) {
  .choose-category__arrows {
    margin: 0;
  }
}
.choose-category__arrow {
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: 0.3s;
  border: 3px solid #999;
  color: #999;
  font-size: 19px;
}
.choose-category__arrow:hover {
  border: 3px solid #433a8b;
  background-color: #433a8b;
  color: #fff;
}
.choose-category__arrow_inactive {
  opacity: 0.3;
}
.choose-category__arrow_inactive:hover {
  border: 3px solid #999;
  color: #999;
  cursor: auto;
  background: transparent;
}
.choose-category__box:hover {
  opacity: 0.7;
}

.img-category-1 {
  background-image: url("../src/views/img/category/1.jpg");
}

.img-category-2 {
  background-image: url("../src/views/img/category/2.jpg");
}

.img-category-3 {
  background-image: url("../src/views/img/category/3.jpg");
}

.img-category-4 {
  background-image: url("../src/views/img/category/4.jpg");
}

.confirm-form__buttons, .form__item, .footer__logo, .info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .footer__made, .email__button, .feedback__color-back, .clients__name, .clients__arrow, .video-block__second-circle, .video-block__circle, .video-block__blackout, .footer__right, .footer__content, .email, .clients__slider-and-info, .header, .navbar-desktop__left, .navbar-desktop__right, .burger-btn, .navbar-mobile__item, .info-and-img, .search__input, .search__button, .boxes, .box, .box__category, .choose-category__up-content, .choose-category__arrows, .choose-category__arrow {
  display: flex;
}

.info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .footer__made, .email__button, .feedback__color-back, .clients__name, .clients__arrow, .video-block__second-circle, .video-block__circle, .video-block__blackout, .burger-btn, .navbar-mobile__item, .search__input, .search__button, .box__category, .choose-category__arrow {
  justify-content: center;
  align-items: center;
}

.footer__right, .footer__content, .email, .clients__slider-and-info, .header, .navbar-desktop__left, .navbar-desktop__right, .info-and-img, .boxes, .choose-category__up-content, .choose-category__arrows {
  justify-content: space-between;
}

.adventure-trip {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1220px) {
  .adventure-trip {
    background-image: url("../src/views/img/video-back.png");
  }
}

iframe {
  height: 200px;
  width: 100%;
  background-size: cover;
  position: relative;
  border: none;
}
@media screen and (min-width: 600px) {
  iframe {
    height: 300px;
  }
}
@media screen and (min-width: 768px) {
  iframe {
    height: 480px;
  }
}
@media screen and (min-width: 1024px) {
  iframe {
    height: 720px;
  }
}

.video-block {
  background-image: url("../src/views/img/island.jpg");
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 30% 0;
}
.video-block__blackout {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.video-block__blackout:hover {
  background-color: rgba(0, 0, 0, 0);
}
.video-block__circle {
  height: 100px;
  width: 100px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
}
.video-block__second-circle {
  height: 80px;
  width: 80px;
  transition: 0.3s;
  font-size: calc( 0.00125 * 100vw + 16.6px );
  background-color: #fff;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}
.video-block__second-circle:hover {
  transform: rotate(360deg);
}

.confirm-form__buttons, .form__item, .footer__logo, .info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .footer__made, .email__button, .feedback__color-back, .clients__name, .clients__arrow, .footer__right, .footer__content, .email, .clients__slider-and-info, .header, .navbar-desktop__left, .navbar-desktop__right, .burger-btn, .navbar-mobile__item, .info-and-img, .search__input, .search__button, .boxes, .box, .box__category, .choose-category__up-content, .choose-category__arrows, .choose-category__arrow, .video-block__blackout, .video-block__circle, .video-block__second-circle {
  display: flex;
}

.info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .footer__made, .email__button, .feedback__color-back, .clients__name, .clients__arrow, .burger-btn, .navbar-mobile__item, .search__input, .search__button, .box__category, .choose-category__arrow, .video-block__blackout, .video-block__circle, .video-block__second-circle {
  justify-content: center;
  align-items: center;
}

.footer__right, .footer__content, .email, .clients__slider-and-info, .header, .navbar-desktop__left, .navbar-desktop__right, .info-and-img, .boxes, .choose-category__up-content, .choose-category__arrows {
  justify-content: space-between;
}

.clients {
  width: 100%;
}
@media screen and (min-width: 1220px) {
  .clients {
    background-image: url("../src/views/img/circles.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.clients__slider-and-info {
  width: 100%;
  align-items: center;
}
.clients__slider {
  position: relative;
  overflow: hidden;
}
.clients__arrow {
  height: 40px;
  width: 40px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 19px;
  border-radius: 50%;
  background-color: #433a8b;
  z-index: 1;
}
.clients__arrow:hover {
  background-color: #fe6091;
}
.clients__arrow_inactive {
  opacity: 0.6;
  cursor: auto;
}
.clients__arrow_inactive:hover {
  background-color: #433a8b;
}
.clients__photo {
  height: 150px;
  width: 150px;
  cursor: pointer;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.clients__name {
  font-weight: 700;
  font-size: calc( 0.005625 * 100vw + 17.2px );
  margin: 30px 0;
}
.clients__info {
  margin-bottom: 100px;
  width: 100%;
}
.clients__review {
  font-weight: 500;
  color: #999;
  height: 10px;
  width: 100%;
  text-align: center;
  max-width: 400px;
  width: 100%;
  font-size: calc( 0 * 100vw + 14px );
  margin: 0 auto;
}

.img-clients-1 {
  background-image: url("../src/views/img/clients/1.jpeg");
}

.img-clients-2 {
  background-image: url("../src/views/img/clients/2.jpeg");
}

.img-clients-3 {
  background-image: url("../src/views/img/clients/3.jpeg");
}

.img-clients-4 {
  background-image: url("../src/views/img/clients/4.jpeg");
}

.img-clients-5 {
  background-image: url("../src/views/img/clients/5.jpeg");
}

.confirm-form__buttons, .form__item, .footer__logo, .info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .footer__made, .email__button, .feedback__color-back, .footer__right, .footer__content, .email, .header, .navbar-desktop__left, .navbar-desktop__right, .burger-btn, .navbar-mobile__item, .info-and-img, .search__input, .search__button, .boxes, .box, .box__category, .choose-category__up-content, .choose-category__arrows, .choose-category__arrow, .video-block__blackout, .video-block__circle, .video-block__second-circle, .clients__slider-and-info, .clients__arrow, .clients__name {
  display: flex;
}

.info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .footer__made, .email__button, .feedback__color-back, .burger-btn, .navbar-mobile__item, .search__input, .search__button, .box__category, .choose-category__arrow, .video-block__blackout, .video-block__circle, .video-block__second-circle, .clients__arrow, .clients__name {
  justify-content: center;
  align-items: center;
}

.footer__right, .footer__content, .email, .header, .navbar-desktop__left, .navbar-desktop__right, .info-and-img, .boxes, .choose-category__up-content, .choose-category__arrows, .clients__slider-and-info {
  justify-content: space-between;
}

.feedback {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("http://cita.com.ua/img/ntours/big/4/1049071809.jpg");
}
.feedback__color-back {
  height: 100%;
  width: 100%;
  flex-direction: column;
  background: rgba(67, 58, 139, 0.7);
}

.email {
  width: 100%;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 50px;
}
.email__input {
  font-weight: 500;
  color: #000;
  width: 100%;
  padding-left: 20px;
  border-radius: 50px;
  font-size: calc( 0.004375 * 100vw + 10.6px );
}
.email__button {
  height: 60px;
  width: 200px;
  font-weight: 600;
  color: #fff;
  font-size: calc( 0.003125 * 100vw + 13px );
  cursor: pointer;
  border-radius: 50px;
  background-color: #433a8b;
  transition: 0.3s;
}
.email__button:hover {
  transition: 0.3s;
  background-color: #fe6091;
}

.text-end {
  font-weight: 900;
  color: #fff;
  font-size: calc( 0.0225 * 100vw + 6.8px );
}

.confirm-form__buttons, .form__item, .footer__logo, .info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .footer__made, .footer__right, .footer__content, .header, .navbar-desktop__left, .navbar-desktop__right, .burger-btn, .navbar-mobile__item, .info-and-img, .search__input, .search__button, .boxes, .box, .box__category, .choose-category__up-content, .choose-category__arrows, .choose-category__arrow, .video-block__blackout, .video-block__circle, .video-block__second-circle, .clients__slider-and-info, .clients__arrow, .clients__name, .feedback__color-back, .email, .email__button {
  display: flex;
}

.info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .footer__made, .burger-btn, .navbar-mobile__item, .search__input, .search__button, .box__category, .choose-category__arrow, .video-block__blackout, .video-block__circle, .video-block__second-circle, .clients__arrow, .clients__name, .feedback__color-back, .email__button {
  justify-content: center;
  align-items: center;
}

.footer__right, .footer__content, .header, .navbar-desktop__left, .navbar-desktop__right, .info-and-img, .boxes, .choose-category__up-content, .choose-category__arrows, .clients__slider-and-info, .email {
  justify-content: space-between;
}

.footer {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
}
@media screen and (min-width: 1220px) {
  .footer {
    background-image: url("../src/views/img/footer-back.png");
  }
}
.footer__content {
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .footer__content {
    flex-direction: row;
  }
}
.footer__left {
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .footer__left {
    width: 40%;
  }
}
.footer__logo {
  font-weight: 900;
  color: #433a8b;
  justify-content: center;
  cursor: pointer;
  font-size: calc( 0 * 100vw + 36px );
  text-transform: uppercase;
}
@media screen and (min-width: 375px) {
  .footer__logo {
    justify-content: flex-start;
  }
}
.footer__icons {
  font-weight: 500;
  color: #433a8b;
  text-align: center;
  font-size: calc( 0 * 100vw + 19px );
}
@media screen and (min-width: 375px) {
  .footer__icons {
    text-align: start;
  }
}
.footer__icon {
  margin-right: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.footer__icon:hover {
  font-weight: 500;
  color: #fe6091;
}
.footer__right {
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .footer__right {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .footer__right {
    width: 50%;
  }
}
.footer__column {
  text-align: center;
}
@media screen and (min-width: 375px) {
  .footer__column {
    text-align: start;
  }
}
.footer__title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: calc( 0 * 100vw + 19px );
}
.footer__items {
  font-weight: 500;
  color: #999;
  font-size: calc( 0 * 100vw + 14px );
}
.footer__item {
  transition: 0.3s;
  cursor: pointer;
}
.footer__item:hover {
  font-weight: 500;
  color: #433a8b;
}
.footer__made {
  height: 95px;
  width: 100%;
  font-weight: 700;
  font-size: calc( 0.003125 * 100vw + 13px );
  text-align: center;
  border-top: 1px solid #e3e3e3;
}

.confirm-form__buttons, .form__item, .info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .header, .navbar-desktop__left, .navbar-desktop__right, .burger-btn, .navbar-mobile__item, .info-and-img, .search__input, .search__button, .boxes, .box, .box__category, .choose-category__up-content, .choose-category__arrows, .choose-category__arrow, .video-block__blackout, .video-block__circle, .video-block__second-circle, .clients__slider-and-info, .clients__arrow, .clients__name, .feedback__color-back, .email, .email__button, .footer__content, .footer__logo, .footer__right, .footer__made {
  display: flex;
}

.info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .button-load-tours, .burger-btn, .navbar-mobile__item, .search__input, .search__button, .box__category, .choose-category__arrow, .video-block__blackout, .video-block__circle, .video-block__second-circle, .clients__arrow, .clients__name, .feedback__color-back, .email__button, .footer__made {
  justify-content: center;
  align-items: center;
}

.header, .navbar-desktop__left, .navbar-desktop__right, .info-and-img, .boxes, .choose-category__up-content, .choose-category__arrows, .clients__slider-and-info, .email, .footer__content, .footer__right {
  justify-content: space-between;
}

.table-tours {
  overflow-x: scroll;
}
.table-tours button {
  cursor: pointer;
  outline: 0;
}
@media screen and (min-width: 1024px) {
  .table-tours {
    overflow-x: hidden;
  }
}
.table-tours__search-item {
  font-weight: 700;
  padding: 5px 15px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 50px;
  border: none;
}
.table-tours__search-item_dark-theme {
  background-color: #17212b;
  color: #fff;
}
.table-tours__tour {
  font-weight: 700;
  color: #000;
  padding: 10px 25px;
  background-color: #fff;
  border-radius: 50px;
  margin: 5px;
  transition: 0.4s;
}
.table-tours__tour:hover {
  font-weight: 700;
  color: #fff;
  background-color: #433a8b;
}

table {
  margin-bottom: 50px;
  background: #fff;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
}

.tours {
  height: 100%;
}
.tours input {
  font-weight: 500;
  font-size: calc( 0 * 100vw + 14px );
  border-bottom: 1px solid #999;
  background-color: #f6f6f6;
  outline: 0;
  width: 100%;
  resize: none;
  margin: 0;
  padding: 10px 0;
}
.tours_dark-theme input {
  border-bottom: 1px solid #fff;
  background-color: #0e1621;
  color: #fff;
}

th {
  font-weight: 700;
  font-size: calc( 0 * 100vw + 19px );
  padding: 10px;
  text-align: start;
}

td {
  font-weight: 500;
  color: #999;
  font-size: calc( 0 * 100vw + 14px );
  padding: 10px;
  transition: 0.3s linear;
  border-bottom: 1px solid #ccc;
}

.tr {
  background: #f0f0f0;
}

th:nth-last-child(1),
td:nth-last-child(1) {
  text-align: center;
}

th:nth-last-child(2),
td:nth-last-child(2) {
  text-align: center;
}

.btn-delete,
.btn-edit {
  font-size: calc( 0 * 100vw + 19px );
  cursor: pointer;
  transition: 0.4s;
}
.btn-delete:hover,
.btn-edit:hover {
  color: #433a8b;
}

hr {
  width: 100%;
}

.button-load-tours {
  font-weight: 700;
  color: #fff;
  font-size: calc( 0 * 100vw + 19px );
  background-color: #433a8b;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px auto;
  transition: 0.2s;
  outline: 0;
}
.button-load-tours:hover {
  background-color: #fe6091;
}
.button-load-tours:active {
  background-color: #fe0000;
}

.fa-arrow-down,
.fa-arrow-up {
  transition: 0.1s;
}
.fa-arrow-down:active,
.fa-arrow-up:active {
  transform: scale(1.5);
}

.tr-dark-theme {
  background-color: #242f3d;
  border: none;
}

.table-dark-theme {
  background-color: #17212b;
}
.table-dark-theme a {
  color: #fff;
}
.table-dark-theme td {
  border-bottom: 1px solid #242f3d;
}

.confirm-form__buttons, .form__item, .info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .header, .navbar-desktop__left, .navbar-desktop__right, .burger-btn, .navbar-mobile__item, .info-and-img, .search__input, .search__button, .boxes, .box, .box__category, .choose-category__up-content, .choose-category__arrows, .choose-category__arrow, .video-block__blackout, .video-block__circle, .video-block__second-circle, .clients__slider-and-info, .clients__arrow, .clients__name, .feedback__color-back, .email, .email__button, .footer__content, .footer__logo, .footer__right, .footer__made, .button-load-tours {
  display: flex;
}

.info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .users .page, .users .pages, .users__edit, .users__photo, .users__item, .burger-btn, .navbar-mobile__item, .search__input, .search__button, .box__category, .choose-category__arrow, .video-block__blackout, .video-block__circle, .video-block__second-circle, .clients__arrow, .clients__name, .feedback__color-back, .email__button, .footer__made, .button-load-tours {
  justify-content: center;
  align-items: center;
}

.header, .navbar-desktop__left, .navbar-desktop__right, .info-and-img, .boxes, .choose-category__up-content, .choose-category__arrows, .clients__slider-and-info, .email, .footer__content, .footer__right {
  justify-content: space-between;
}

.users {
  width: 100%;
}
.users a.router-link-exact-active {
  font-weight: 700;
  color: #fff;
  background-color: #fe6091;
  border-color: #fe6091;
  transition: 0.5s;
}
.users__item {
  font-size: calc( 0.000625 * 100vw + 17.8px );
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  width: 90%;
  margin: 25px auto;
  box-shadow: 0 4px 30px -2px #dcd5de;
}
@media screen and (min-width: 1024px) {
  .users__item {
    width: 50%;
  }
}
.users__item .bold {
  font-weight: 700;
}
.users__photo {
  height: 80px;
  width: 80px;
  background-image: url("https://image.flaticon.com/icons/svg/149/149452.svg");
  background-size: cover;
  margin-bottom: 15px;
}
.users__index {
  font-weight: 900;
  color: #fe6091;
  font-size: calc( -0.0025 * 100vw + 18.8px );
}
.users__edit {
  font-weight: 600;
  color: #fff;
  height: 50px;
  width: 120px;
  font-size: calc( 0 * 100vw + 19px );
  border: none;
  background-color: #433a8b;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
  border-radius: 5px;
  outline: 0;
}
.users__edit:hover {
  background-color: #fe6091;
}
.users .pages {
  width: 100%;
  margin-top: 15px;
  flex-wrap: wrap;
}
.users .page {
  height: 35px;
  width: 35px;
  font-weight: 600;
  color: #999;
  padding: 5px;
  border-radius: 5px;
  margin: 4px;
  cursor: pointer;
  border: 2px solid #999;
  transition: 0.2s;
}
.users .page:hover {
  font-weight: 600;
  color: #fff;
  background-color: #433a8b;
  border: 1px solid #433a8b;
}
.users .page__active {
  font-weight: 700;
  color: #fff;
  background-color: #fe6091;
  border: 1px solid #fe6091;
}

.confirm-form__buttons, .form__item, .info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .header, .navbar-desktop__left, .navbar-desktop__right, .burger-btn, .navbar-mobile__item, .info-and-img, .search__input, .search__button, .boxes, .box, .box__category, .choose-category__up-content, .choose-category__arrows, .choose-category__arrow, .video-block__blackout, .video-block__circle, .video-block__second-circle, .clients__slider-and-info, .clients__arrow, .clients__name, .feedback__color-back, .email, .email__button, .footer__content, .footer__logo, .footer__right, .footer__made, .button-load-tours, .users__item, .users__photo, .users__edit, .users .pages, .users .page {
  display: flex;
}

.info-user, .slider__slide, .logOut, .confirm-form__button, .confirm-form, .page-form, .button-back, .icons-lang-desktop, .icons-lang-mobile, .form .button, .burger-btn, .navbar-mobile__item, .search__input, .search__button, .box__category, .choose-category__arrow, .video-block__blackout, .video-block__circle, .video-block__second-circle, .clients__arrow, .clients__name, .feedback__color-back, .email__button, .footer__made, .button-load-tours, .users__item, .users__photo, .users__edit, .users .pages, .users .page {
  justify-content: center;
  align-items: center;
}

.header, .navbar-desktop__left, .navbar-desktop__right, .info-and-img, .boxes, .choose-category__up-content, .choose-category__arrows, .clients__slider-and-info, .email, .footer__content, .footer__right {
  justify-content: space-between;
}

.form {
  width: 100%;
  transition: 0.2s;
}
.form input,
.form textarea,
.form select {
  font-weight: 500;
  font-size: calc( 0 * 100vw + 14px );
  border-bottom: 1px solid #999;
  background-color: #f6f6f6;
  outline: 0;
  width: 100%;
  resize: none;
  margin: 0;
  padding: 10px 0;
}
.form label {
  font-weight: 700;
  font-size: calc( 0 * 100vw + 19px );
  margin: 20px 0 10px 0;
  text-align: start;
}
.form .error {
  font-weight: 600;
  text-align: start;
  font-size: 14px;
  display: block;
  color: red;
}
.form__item {
  flex-direction: column;
  width: 100%;
}
.form__item .error {
  display: none;
}
.form__item_err .error {
  font-weight: 600;
  text-align: start;
  font-size: 14px;
  display: block;
  color: red;
}
.form__item_err input {
  transition: 0.4s;
  color: #fe0000;
  margin: 10px 0;
  border-color: #fe0000;
}
.form .button {
  font-weight: 600;
  color: #fff;
  height: 50px;
  width: 200px;
  margin: 20px 0;
  font-size: calc( 0 * 100vw + 19px );
  border: none;
  background-color: #433a8b;
  opacity: 1;
  transition: 0.3s;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
}
.form .button:hover {
  background-color: #fe6091;
}
.form .button_no-active {
  opacity: 0.5;
  cursor: auto;
}
.form .button_no-active:hover {
  background-color: #433a8b;
}
.form_dark-theme {
  background: #17212b;
  border-radius: 5px;
  padding: 5px 30px;
  color: #fff;
}
.form_dark-theme select {
  padding-left: 14px;
  background-color: #242f3d;
  color: #fff;
  border-radius: 3px;
  border: none;
}
.form_dark-theme ::placeholder {
  color: #6d7883;
}
.form_dark-theme input,
.form_dark-theme textarea {
  padding-left: 14px;
  background-color: #242f3d;
  color: #fff;
  border-bottom: none;
  border-radius: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  background: #f6f6f6;
  height: 100%;
}

body {
  height: 100%;
}

input,
textarea {
  font-family: "Nunito", sans-serif;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
}

select {
  font-family: "Nunito", sans-serif;
}

button {
  font-family: "Nunito", sans-serif;
}

a::selection {
  background-color: #433a8b;
}

a {
  text-decoration: none;
  color: black;
}

.dark-theme {
  background-color: black;
}

.dark-theme-text {
  color: white;
}

.container {
  transition: 0.3s;
  margin: 0 auto;
  max-width: 300px;
  min-width: 300px;
  text-align: center;
  overflow-x: hidden;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 360px;
    text-align: start;
  }
}
@media screen and (min-width: 600px) {
  .container {
    max-width: 560px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1220px) {
  .container {
    max-width: 1170px;
  }
}

.title {
  font-weight: 900;
  color: #433a8b;
  font-size: calc( 0.015625 * 100vw + 20px );
  margin: 30px 0;
}

.title-item {
  font-weight: 700;
  font-size: calc( 0 * 100vw + 28px );
  margin: 30px 0;
  text-align: center;
}

.subtitle {
  font-weight: 500;
  color: #999;
  text-align: center;
  font-size: calc( 0 * 100vw + 14px );
  margin-bottom: 30px;
  max-width: 600px;
}
@media screen and (min-width: 375px) {
  .subtitle {
    text-align: start;
  }
}

.main-img {
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1024px) {
  .main-img {
    background-image: url("../src/views/img/main.png");
  }
}
@media screen and (min-width: 1024px) {
  .main-img {
    height: 450px;
    width: 450px;
  }
}
@media screen and (min-width: 1220px) {
  .main-img {
    height: 600px;
    width: 600px;
  }
}

.line-back {
  height: 957px;
  width: 50%;
  z-index: -7;
  left: 0;
  top: 0;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1220px) {
  .line-back {
    background-image: url("../src/views/img/line-back.png");
  }
}

.icons-lang-mobile {
  margin: 0 auto;
}
.icons-lang-mobile__icon {
  height: 50px;
  width: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.1s;
}
.icons-lang-mobile__icon:hover {
  transform: scale(1.3);
}
.icons-lang-mobile__icon_rus {
  background-image: url("https://image.flaticon.com/icons/svg/321/321257.svg");
}
.icons-lang-mobile__icon_eng {
  background-image: url("https://image.flaticon.com/icons/svg/321/321269.svg");
}

.icons-lang-desktop {
  display: none;
  position: absolute;
  top: 60px;
  right: 30px;
}
@media screen and (min-width: 1024px) {
  .icons-lang-desktop {
    display: block;
  }
}
@media screen and (min-width: 1220px) {
  .icons-lang-desktop {
    top: 20px;
  }
}
.icons-lang-desktop__icon {
  height: 30px;
  width: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.1s;
}
.icons-lang-desktop__icon:hover {
  transform: scale(1.3);
}
.icons-lang-desktop__icon:active {
  transform: scale(2);
}
.icons-lang-desktop__icon_rus {
  background-image: url("https://image.flaticon.com/icons/svg/321/321257.svg");
}
.icons-lang-desktop__icon_eng {
  background-image: url("https://image.flaticon.com/icons/svg/321/321269.svg");
}

.icon {
  height: 50px;
  width: 50px;
  margin: 20px auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.icon_tours {
  background-image: url("https://image.flaticon.com/icons/svg/2569/2569869.svg");
}
.icon_edit-tour {
  background-image: url("https://image.flaticon.com/icons/svg/1508/1508034.svg");
}
.icon_edit-user {
  background-image: url("https://image.flaticon.com/icons/svg/2808/2808298.svg");
}
.icon_new {
  background-image: url("https://image.flaticon.com/icons/svg/2569/2569865.svg");
}
.icon_user {
  background-image: url("https://image.flaticon.com/icons/svg/2154/2154798.svg");
}
.icon_user-correct {
  background-image: url("https://image.flaticon.com/icons/svg/2154/2154494.svg");
}
.icon_user-incorrect {
  background-image: url("https://image.flaticon.com/icons/svg/2154/2154516.svg");
}
.icon_login {
  background-image: url("https://image.flaticon.com/icons/svg/1651/1651104.svg");
}
.icon_404 {
  height: 150px;
  width: 150px;
  background-image: url("https://image.flaticon.com/icons/svg/1794/1794725.svg");
}
.icon_error {
  height: 150px;
  width: 150px;
  background-image: url("https://image.flaticon.com/icons/svg/2210/2210217.svg");
}
.icon_welcome {
  height: 150px;
  width: 150px;
  background-image: url("https://image.flaticon.com/icons/svg/366/366330.svg");
}
.icon_users {
  background-image: url("https://image.flaticon.com/icons/svg/2154/2154866.svg");
}

.button-back {
  font-weight: 600;
  color: #fff;
  height: 50px;
  width: 120px;
  font-size: calc( 0 * 100vw + 19px );
  border: none;
  background-color: #fe0000;
  cursor: pointer;
  margin: 20px;
  transition: 0.3s;
  border-radius: 5px;
  outline: 0;
}
.button-back:hover {
  background-color: #8b0000;
}

.page-form {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  opacity: 0.4;
  background-color: black;
}

.confirm-form {
  height: 400px;
  width: 300px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  padding: 50px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 10;
}
.confirm-form__title {
  font-weight: 700;
  text-align: center;
  font-size: calc( 0 * 100vw + 19px );
  padding: 10px;
}
.confirm-form__button {
  font-weight: 600;
  color: #fff;
  height: 40px;
  width: 70px;
  border: 1px solid #000;
  background-color: #433a8b;
  cursor: pointer;
  transition: 0.2s;
}
.confirm-form__button_positive {
  padding: 10px 45px;
}
.confirm-form__button_positive:hover {
  font-weight: 600;
  color: #fff;
  background-color: #29d129;
  border-color: #29d129;
}
.confirm-form__button_negative {
  margin-left: 5px;
}
.confirm-form__button_negative:hover {
  font-weight: 600;
  color: #fff;
  background-color: #fe0000;
  border-color: #fe0000;
}
.confirm-form__icon {
  height: 50px;
  width: 50px;
  background-size: cover;
}
.confirm-form__icon_warning {
  background-image: url("https://image.flaticon.com/icons/svg/1209/1209961.svg");
}
.confirm-form__icon_register {
  background-image: url("https://image.flaticon.com/icons/svg/1474/1474713.svg");
}
.confirm-form__icon_darth-vader {
  height: 70px;
  width: 70px;
  background-image: url("https://img.icons8.com/color/240/000000/darth-vader.png");
}

.burger-btn-enter-active {
  transition: opacity 0.3s;
}

.burger-btn-leave-active {
  transition: opacity 0.3s;
}

.burger-btn-enter {
  opacity: 0;
}

.burger-btn-leave-to {
  opacity: 0;
}

.loading {
  height: 30px;
  width: 30px;
  margin: 0 auto;
  border: 4px solid #eee;
  border-top: 4px solid #fe6091;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.logOut {
  height: 50px;
  width: 200px;
  font-weight: 600;
  color: #fff;
  margin: 20px auto;
  font-size: calc( 0 * 100vw + 19px );
  border: none;
  background-color: #433a8b;
  opacity: 1;
  transition: 0.3s;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
}
.logOut:hover {
  background-color: #fe6091;
}

.slider {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slider_clients {
  height: 100%;
  width: 70%;
}
.slider__slide {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.slider__body {
  min-width: auto;
  height: 100%;
  display: flex;
  position: relative;
  align-items: stretch;
  transition: all 0.5s ease;
}

.info-user {
  text-align: center;
}

.fa-moon {
  display: none;
  font-size: calc( 0 * 100vw + 19px );
  cursor: pointer;
  position: absolute;
  transition: 0.1s;
}
@media screen and (min-width: 1024px) {
  .fa-moon {
    display: block;
    right: 35px;
    top: 130px;
  }
}
@media screen and (min-width: 1220px) {
  .fa-moon {
    right: 100px;
    top: 27px;
  }
}
.fa-moon_active {
  color: #f2a63a;
}
.fa-moon:active {
  transform: scale(1.6);
}

.dark-mode {
  background: #0e1621;
  color: #fff;
}
.dark-mode a {
  color: #fff;
}
.dark-mode ::placeholder {
  color: #6d7883;
}
.dark-mode .logo,
.dark-mode .title,
.dark-mode .footer__icons,
.dark-mode .footer__logo {
  color: #7166ff;
}
.dark-mode .search input {
  background-color: #17212b;
  color: #fff;
}
.dark-mode .confirm-form {
  background-color: #242f3d;
}
.dark-mode .users__item {
  background-color: #17212b;
  box-shadow: none;
}
.dark-mode .users__photo {
  background-color: #433a8b;
  border-radius: 50px;
}
.dark-mode .navbar-mobile-bgc {
  background-color: #17212b;
}

.delay {
  animation-delay: 0.3s;
}

/*# sourceMappingURL=main.css.map */
