@import "common/mixins";
@import "common/placeholders";
@import "common/variables";
@import "common/functions";
@import "common/config";

@import "blocks/starting-section";
@import "blocks/experience";
@import "blocks/category";
@import "blocks/trip";
@import "blocks/clients";
@import "blocks/feedback";
@import "blocks/footer";
@import "blocks/newTour";

@import "blocks/tours";


*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  background-color: $background;
}

.components-enter-active, .fade-leave-active {
  transition: opacity .7s;
}

.components-enter, .fade-leave-to {
  opacity: 0;
}

input, textarea {
  font-family: 'Nunito', sans-serif;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
}

a::selection {
  background-color: $purple;
}

a {
  text-decoration: none;
  color: black;
}


.container {
  transition: .3s;
  margin: 0 auto;
  max-width: 300px;
  min-width: 300px;
  text-align: center;

  @include media(mobile) {
    max-width: 360px;
    text-align: start;

  }
  @include media(small-tablet) {
    max-width: 560px;

  }
  @include media(tablet) {
    max-width: 700px;
  }

  @include media(desktop) {
    max-width: 960px;
  }
  @include media(large-desktop) {
    max-width: 1170px;
  }
;
}

.title {
  @include color-and-weight($purple, $extra-bold);

  font-size: calcFluidFontSize(25, $font-XL, 320, 1920);
  margin: 30px 0;
}

.title-item {
  @include color-and-weight($black, $bold);

  font-size: calcFluidFontSize($font-L, $font-L, 320, 1920);
  margin: 30px 0;
  text-align: center;
}

.subtitle {
  @include color-and-weight($gray, $regular);

  text-align: center;
  font-size: calcFluidFontSize($font-S, $font-S, 320, 1920);
  margin-bottom: 30px;
  max-width: 600px;

  @include media(mobile) {
    text-align: start;
  }
}

//
.main-img {
  @include size(44vw, 1000px);

  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  z-index: -1;

  @include media(large-desktop) {
    background-image: url("https://i.ibb.co/zby7Kps/main.jpg");
  }
}

.line-back {
  @include size(100%, 957px);

  z-index: -7;
  left: 0;
  top: 0;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;

  @include media(large-desktop) {
    background-image: url('#{$img}line-back.png');
  }
}

.icon {
  @include size(50px);

  margin: 20px auto;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: .5s;

  &__tours {
    background-image: url('https://image.flaticon.com/icons/svg/2569/2569869.svg');
  }

  &__new {
    background-image: url('https://image.flaticon.com/icons/svg/2569/2569865.svg');
  }

  &__user {
    background-image: url('https://image.flaticon.com/icons/svg/2154/2154798.svg');
  }

  &__user-correct {
    background-image: url('https://image.flaticon.com/icons/svg/2154/2154494.svg');
  }

  &__user-incorrect {
    background-image: url('https://image.flaticon.com/icons/svg/2154/2154516.svg');
  }
}