@import "common/mixins";
@import "common/placeholders";
@import "common/variables";
@import "common/functions";
@import "common/config";
@import "blocks/starting-section";
@import "blocks/experience";
@import "blocks/category";
@import "blocks/trip";
@import "blocks/clients";
@import "blocks/feedback";
@import "blocks/footer";
@import "blocks/newTour";
@import "blocks/tours";


*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  background-color: $background;
}

.smooth-enter-active {
  transition: opacity .3s;
}
.smooth-leave-active {
  transition: opacity .3s;
}

.smooth-enter{
  opacity: 0;
}

.smooth-leave-to {
  opacity: 0;
}

input, textarea {
  font-family: 'Nunito', sans-serif;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
}

select {
  font-family: 'Nunito', sans-serif;
}

button {
  font-family: 'Nunito', sans-serif;
}

a::selection {
  background-color: $purple;
}

a {
  text-decoration: none;
  color: black;
}


.container {
  transition: .3s;
  margin: 0 auto;
  max-width: 300px;
  min-width: 300px;
  text-align: center;

  @include media(mobile) {
    max-width: 360px;
    text-align: start;

  }
  @include media(small-tablet) {
    max-width: 560px;

  }
  @include media(tablet) {
    max-width: 700px;
  }

  @include media(desktop) {
    max-width: 960px;
  }
  @include media(large-desktop) {
    max-width: 1170px;
  }
;
}

.title {
  @include color-and-weight($purple, $extra-bold);

  font-size: calcFluidFontSize(25, $font-XL, 320, 1920);
  margin: 30px 0;
}

.title-item {
  @include color-and-weight($black, $bold);

  font-size: calcFluidFontSize($font-L, $font-L, 320, 1920);
  margin: 30px 0;
  text-align: center;
}
.subtitle {
  @include color-and-weight($gray, $regular);

  text-align: center;
  font-size: calcFluidFontSize($font-S, $font-S, 320, 1920);
  margin-bottom: 30px;
  max-width: 600px;

  @include media(mobile) {
    text-align: start;
  }
}

.main-img {
  @include size(44vw, 1000px);

  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  z-index: -1;

  @include media(large-desktop) {
    background-image: url("https://i.ibb.co/zby7Kps/main.jpg");
  }
}

.line-back {
  @include size(100%, 957px);

  z-index: -7;
  left: 0;
  top: 0;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;

  @include media(large-desktop) {
    background-image: url('#{$img}line-back.png');
  }
}

.icon {
  @include size(50px);

  margin: 20px auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: .5s;

  &:hover {
    transform: rotate(360deg);
  }

  &__tours {
    background-image: url('https://image.flaticon.com/icons/svg/2569/2569869.svg');
  }

  &__edit {
    background-image: url('https://image.flaticon.com/icons/svg/1508/1508034.svg');
  }

  &__new {
    background-image: url('https://image.flaticon.com/icons/svg/2569/2569865.svg');
  }

  &__user {
    background-image: url('https://image.flaticon.com/icons/svg/2154/2154798.svg');
  }

  &__user-correct {
    background-image: url('https://image.flaticon.com/icons/svg/2154/2154494.svg');
  }

  &__user-incorrect {
    background-image: url('https://image.flaticon.com/icons/svg/2154/2154516.svg');
  }

  &__login {
    background-image: url('https://image.flaticon.com/icons/svg/1651/1651104.svg');
  }

  &__404 {
    @include size(150px);

    background-image: url('https://image.flaticon.com/icons/svg/1794/1794725.svg');
  }

  &__error {
    @include size(150px);

    background-image: url('https://image.flaticon.com/icons/svg/2210/2210217.svg');
  }

  &__welcome {
    @include size(150px);

    background-image: url('https://image.flaticon.com/icons/svg/2037/2037885.svg');
  }
}

.button-back {
  @include color-and-weight($white, $medium);
  @include size(120px, 50px);

  @extend %flex-center;

  font-size: calcFluidFontSize($font-M, $font-M, 320, 1920);
  border: none;
  background-color: $red;
  cursor: pointer;
  margin: 20px;
  transition: .3s;
  border-radius: 5px;
  outline: 0;

  &:hover {
    background-color: #8b0000;
  }
}

.page-form{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: .4;
  background-color: black;
}
.confirm-form {
  @extend %flex-center;

  @include size(300px,400px);

  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  flex-direction: column;
  padding: 50px;
  background-color: $white;
  border: 2px solid $black;
  z-index: 2;

  &__buttons {
    @extend %flex;
  }

  &__title {
    @include color-and-weight($black, $extra-bold);

    text-align: center;
    font-size: calcFluidFontSize($font-M, $font-M, 320, 1920);
    padding: 10px;
  }
  &__button {
    @include color-and-weight($white, $medium);

    border: 2px solid $black;
    background-color: $purple;
    padding: 10px 20px;
    cursor: pointer;
    transition: .2s;

    &__positive {
      &:hover{
        @include color-and-weight($white, $medium);

        background-color: $green;
        border-color: $green;
      }
    }
    &__negative {
      margin-left: 5px;

      &:hover{
        @include color-and-weight($white, $medium);

        background-color: $red;
        border-color: $red;
      }
    }
  }

  &__icon {
    @include size(50px);

    background-size: cover;

    &__warning {
      background-image: url('https://image.flaticon.com/icons/svg/1209/1209961.svg');
    }

    &__register {
      background-image: url('https://image.flaticon.com/icons/svg/1474/1474713.svg');
    }
  }
}

.tours-enter-active {
  transition: opacity .3s;
  transition-delay: 300ms;
}
.tours-leave-active {
  transition: opacity .3s;
}

.tours-enter{
  opacity: 0;
}

.tours-leave-to {
  opacity: 0;
}

.loading {
  @include size(50px);

  margin: 0 auto;
  background-size: cover;
  background-image: url('#{$img}Spinner-1s-200px.gif');
}

.loading-enter-active {
  transition: opacity .3s;
}
.loading-leave-active {
  transition: opacity .3s;
}

.loading-enter{
  opacity: 0;
}

.loading-leave-to {
  opacity: 0;
}

.logOut {
  @extend %flex-center;

  @include color-and-weight($white, $medium);

  margin: 0 auto;
  padding: 5px 10px;
  width: 150px;
  background-color: $purple;
  cursor: pointer;
}
