@import "common/mixins";
@import "common/placeholders";
@import "common/variables";
@import "common/functions";
@import "common/config";
@import "blocks/starting-section";
@import "blocks/experience";
@import "blocks/category";
@import "blocks/trip";
@import "blocks/clients";
@import "blocks/feedback";
@import "blocks/footer";
@import "blocks/tours";
@import "blocks/users";
@import "blocks/forms";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
  background: $background;
  height: 100%;
}

body {
  height: 100%;
}

input,
textarea {
  font-family: 'Nunito', sans-serif;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
}

select {
  font-family: 'Nunito', sans-serif;
}

button {
  font-family: 'Nunito', sans-serif;
}

a::selection {
  background-color: $purple;
}

a {
  text-decoration: none;
  color: black;
}

.dark-theme {
  background-color: black;
}

.dark-theme-text {
  color: white;
}

.container {
  transition: 0.3s;
  margin: 0 auto;
  max-width: 300px;
  min-width: 300px;
  text-align: center;
  overflow-x: hidden;

  @include media(wide-mobile) {
    max-width: 360px;
    text-align: start;
  }

  @include media(small-tablet) {
    max-width: 560px;
  }

  @include media(tablet) {
    max-width: 700px;
  }

  @include media(desktop) {
    max-width: 960px;
  }

  @include media(large-desktop) {
    max-width: 1170px;
  }
}

.title {
  @include color-and-weight($purple, $extra-bold);

  font-size: calcFluidFontSize(25, $font-XL, 320, 1920);
  margin: 30px 0;
}

.title-item {
  font-weight: $bold;
  font-size: calcFluidFontSize($font-L, $font-L, 320, 1920);
  margin: 30px 0;
  text-align: center;
}

.subtitle {
  @include color-and-weight($gray, $regular);

  text-align: center;
  font-size: calcFluidFontSize($font-S, $font-S, 320, 1920);
  margin-bottom: 30px;
  max-width: 600px;

  @include media(wide-mobile) {
    text-align: start;
  }
}

.main-img {
  background-size: contain;
  background-repeat: no-repeat;

  @include media(desktop) {
    background-image: url('#{$img}main.png');
  }

  @include media(desktop) {
    @include size(450px);
  }

  @include media(large-desktop) {
    @include size(600px);
  }
}

.line-back {
  @include size(50%, 957px);

  z-index: -7;
  left: 0;
  top: 0;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;

  @include media(large-desktop) {
    background-image: url('#{$img}line-back.png');
  }
}

.icons-lang-mobile {
  @extend %flex-center;

  margin: 0 auto;

  &__icon {
    @include size(50px);

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.1s;

    &:hover {
      transform: scale(1.3);
    }

    &_rus {
      background-image: url('https://image.flaticon.com/icons/svg/321/321257.svg');
    }

    &_eng {
      background-image: url('https://image.flaticon.com/icons/svg/321/321269.svg');
    }
  }
}

.icons-lang-desktop {
  @extend %flex-center;

  display: none;
  position: absolute;
  top: 60px;
  right: 30px;

  @include media(desktop) {
    display: block;
  }

  @include media(large-desktop) {
    top: 20px;
  }

  &__icon {
    @include size(30px);

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      transform: scale(1.3);
    }

    &:active {
      transform: scale(2);
    }

    &_rus {
      background-image: url('https://image.flaticon.com/icons/svg/321/321257.svg');
    }

    &_eng {
      background-image: url('https://image.flaticon.com/icons/svg/321/321269.svg');
    }
  }
}

.icon {
  @include size(50px);

  margin: 20px auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;

  &_tours {
    background-image: url('https://image.flaticon.com/icons/svg/2569/2569869.svg');
  }

  &_edit-tour {
    background-image: url('https://image.flaticon.com/icons/svg/1508/1508034.svg');
  }

  &_edit-user {
    background-image: url('https://image.flaticon.com/icons/svg/2808/2808298.svg');
  }

  &_new {
    background-image: url('https://image.flaticon.com/icons/svg/2569/2569865.svg');
  }

  &_user {
    background-image: url('https://image.flaticon.com/icons/svg/2154/2154798.svg');
  }

  &_user-correct {
    background-image: url('https://image.flaticon.com/icons/svg/2154/2154494.svg');
  }

  &_user-incorrect {
    background-image: url('https://image.flaticon.com/icons/svg/2154/2154516.svg');
  }

  &_login {
    background-image: url('https://image.flaticon.com/icons/svg/1651/1651104.svg');
  }

  &_404 {
    @include size(150px);

    background-image: url('https://image.flaticon.com/icons/svg/1794/1794725.svg');
  }

  &_error {
    @include size(150px);

    background-image: url('https://image.flaticon.com/icons/svg/2210/2210217.svg');
  }

  &_welcome {
    @include size(150px);

    background-image: url('https://image.flaticon.com/icons/svg/366/366330.svg');
  }

  &_users {
    background-image: url('https://image.flaticon.com/icons/svg/2154/2154866.svg');
  }
}

.button-back {
  @extend %flex-center;

  @include color-and-weight($white, $medium);
  @include size(120px, 50px);

  font-size: calcFluidFontSize($font-M, $font-M, 320, 1920);
  border: none;
  background-color: $red;
  cursor: pointer;
  margin: 20px;
  transition: 0.3s;
  border-radius: 5px;
  outline: 0;

  &:hover {
    background-color: #8b0000;
  }
}

.page-form {
  @extend %flex-center;

  @include size(100%);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  opacity: 0.4;
  background-color: black;
}

.confirm-form {
  @extend %flex-center;

  @include size(300px,400px);

  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  padding: 50px;
  background-color: $white;
  border: 1px solid $black;
  z-index: 10;

  &__buttons {
    @extend %flex;
  }

  &__title {
    font-weight: $bold;
    text-align: center;
    font-size: calcFluidFontSize($font-M, $font-M, 320, 1920);
    padding: 10px;
  }

  &__button {
    @extend %flex-center;

    @include color-and-weight($white, $medium);
    @include size(70px, 40px);

    border: 1px solid $black;
    background-color: $purple;
    cursor: pointer;
    transition: 0.2s;

    &_positive {
      padding: 10px 45px;

      &:hover {
        @include color-and-weight($white, $medium);

        background-color: $green;
        border-color: $green;
      }
    }

    &_negative {
      margin-left: 5px;

      &:hover {
        @include color-and-weight($white, $medium);

        background-color: $red;
        border-color: $red;
      }
    }
  }

  &__icon {
    @include size(50px);

    background-size: cover;

    &_warning {
      background-image: url('https://image.flaticon.com/icons/svg/1209/1209961.svg');
    }

    &_register {
      background-image: url('https://image.flaticon.com/icons/svg/1474/1474713.svg');
    }

    &_darth-vader {
      @include size(70px);

      background-image: url('https://img.icons8.com/color/240/000000/darth-vader.png');
    }
  }
}

.burger-btn-enter-active {
  transition: opacity 0.3s;
}

.burger-btn-leave-active {
  transition: opacity 0.3s;
}

.burger-btn-enter {
  opacity: 0;
}

.burger-btn-leave-to {
  opacity: 0;
}

.loading {
  @include size(30px);

  margin: 0 auto;
  border: 4px solid #eee;
  border-top: 4px solid $pink;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.logOut {
  @extend %flex-center;

  @include size(200px, 50px);
  @include color-and-weight($white,$medium);

  margin: 20px auto;
  font-size: calcFluidFontSize($font-M, $font-M, 320, 1920);
  border: none;
  background-color: $purple;
  opacity: 1;
  transition: 0.3s;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;

  &:hover {
    background-color: $pink;
  }
}

.slider {
  @include size(70%,100%);

  position: relative;
  overflow: hidden;

  &__slide {
    @extend %flex-center;

    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  &__body {
    min-width: auto;
    height: 100%;
    display: flex;
    position: relative;
    align-items: stretch;
    transition: all 0.5s ease;
  }
}

.info-user {
  @extend %flex-center;

  text-align: center;
}

.fa-moon {
  display: none;
  font-size: calcFluidFontSize($font-M, $font-M, 320, 1920);
  cursor: pointer;
  position: absolute;
  transition: 0.1s;

  @include media(desktop) {
    display: block;
    right: 35px;
    top: 130px;
  }

  @include media(large-desktop) {
    right: 100px;
    top: 27px;
  }

  &_active {
    color: $yellow;
  }

  &:active {
    transform: scale(1.6);
  }
}

.dark-mode {
  background: $dark-mode-background;
  color: $white;

  a {
    color: $white;
  }

  ::placeholder {
    color: $placeholder;
  }

  .logo,
  .title,
  .footer__icons,
  .footer__logo {
    color: $light-purple;
  }

  .search {
    input {
      background-color: $dark-mode-blue-high;
      color: $white;
    }
  }

  .confirm-form {
    background-color: $dark-mode-blue-medium;
  }

  .users {
    &__item {
      background-color: $dark-mode-blue-high;
      box-shadow: none;
    }

    &__photo {
      background-color: $purple;
      border-radius: 50px;
    }
  }

  .navbar-mobile-bgc {
    background-color: $dark-mode-blue-high;
  }
}

.delay {
  animation-delay: 0.3s;
}
